@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";


@theme {
    --color-dark: #111113;
    --color-navIconColor: #9f9fa9;
    --color-hoverColorNav: #27272a;
    --color-pink: #776fbf;
    --color-pinkHover: #56508c;
    --color-offWhite: #F2F0EF;
    --color-borderOutline: #27272a;
    --color-secondaryColorGray: #84848C;
    --color-textFieldGray: #27272a;
    --color-cardBg: #18181b;
    --color-customGray: #1b1b1d;
    --color-customHoverGray: #222224;
    --font-mulish: "Mulish", sans-serif;
}

